/* 공통디자인 common.css */
/* header, foorer */
body {}
#wrap {}
#wrap header {
    background-color:rgba(0,0,0,0.9);
    height:70px; padding:0 80px;
    min-width:1220px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    /* 스크롤 이동 시 고정 */
    position:fixed; left:0; top:0; z-index:999; width:100%;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
/* 호랑가시나무언덕소개 ~ 고객센터까지 모든 gnb + lnb 공통 선택자 */
#wrap header nav {}
#wrap header nav #gnb {
    display:flex; /* li */
    flex-flow:row nowrap; gap:20px;
}
#wrap header nav #gnb a:hover {color:#558bcf !important;} /*  공통 a */
#wrap header nav #gnb > li {position:relative;} /* 첫번째 서브 기준 */
#wrap header nav #gnb > li:hover .lnb_depth2 {display:block;}
#wrap header nav #gnb > li > a {
    color:#fff;
    line-height:70px; display:block;
}/* line 20 */
#wrap header nav #gnb > li > .lnb_depth2 { /* 첫번째 서브 */
    background-color:#A1CB9A;
    position:absolute;
    width:160px;
    left:50%; transform:translateX(-50%); /* absolute 부모 x축 정중앙 */
    display:none;
}
#wrap header nav #gnb > li > .lnb_depth2 > li {}
#wrap header nav #gnb > li > .lnb_depth2 > li:hover .lnb_depth3 {display:block;}
#wrap header nav #gnb > li > .lnb_depth2 > li > a {
    color:#fff; text-align:center;
    display:block; line-height:46px;
}
#wrap header nav #gnb > li > .lnb_depth2 > li > .lnb_depth3 {/* 두번째 서브 */
    background-color:#D3F0CE; display:none;
}
#wrap header nav #gnb > li > .lnb_depth2 > li > .lnb_depth3 li {}
#wrap header nav #gnb > li > .lnb_depth2 > li > .lnb_depth3 li a { 
    text-align:center;
    display:block; line-height:46px;
}
/* ============================================================================footer */
#wrap footer {background:#000; padding:70px;}
#wrap footer p {
    color:#fff;
    line-height:2.0;
    font-size:0.81rem;
    width: min(1220px, 92%);
    margin:0 auto;
    text-align:left;
}
/* ============================================================================main w1220+p70 */
#wrap main .container_layout {
    width:1220px; margin:0 auto; padding:70px 0;
}
#wrap main .container_layout h1 {
    font-size:1.5rem; font-weight:600; margin:0 0 30px;
}
#wrap main .container_layout h1+p {
    font-size:0.94rem; line-height:1.7; color:#555; margin:0 0 30px;
}